.header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background: #fff;
  display: flex;
  align-items: center;
}

.header__shrink {
  box-shadow: 5px 5px 15px -5px #d7d6d6;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logo h5 {
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
  margin-bottom: 0;
  margin-top: 5px;
}

.menu a {
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
  transition: 0.3s;
  text-decoration: none;
}

.menu a:hover {
  color: #df2020;
}

.active__menu {
  color: #df2020 !important;
}

.cart__icon {
  position: relative;
  cursor: pointer;
}

.cart__icon i {
  font-size: 1.3rem;
  color: #212245;
}

.cart__badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #df2020;
  color: #fff;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile__menu {
  font-weight: 600;
  display: none;
  cursor: pointer;
}

.mobile__menu i {
  font-size: 1.3rem;
  color: #212245;
}

.header__closeButton {
  display: none;
}

/* Ensure container takes full width in the flex header */
.header .container {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    line-height: 20px;
  }

  .show__menu {
    display: block;
  }

  .mobile__menu {
    display: block;
  }

  .header__closeButton {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .header__closeButton span i {
    font-size: 1.5rem;
    color: #212245;
    cursor: pointer;
  }
}
